/*
    Variaveis para Cores::after
    --Fundo-Principal
    --Texto
    --Texto-inverso
    --Destaque
    --Destaque-inverso
    --Fundo-card
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Fundo-Principal: #f5f5f5;
    --Texto: #222222;
    --Texto-inverso: #ffffff;
    --Destaque: #0077ff;
    --Destaque-inverso: #66bbff;
    --Fundo-card: #ffffff;
}

body {
    font: verdana, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--Fundo-Principal);
    color: var(--Texto);
}

header {
    background-color: var(--Destaque);
    color: var(--Texto);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

nav#menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav#menu a {
    text-decoration: none;
    color: var(--Texto-inverso);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.5s;
}

nav#menu a:hover {
    background-color: var(--Destaque-inverso);
    color: var(--Destaque);
}

main {
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    gap: 20px;
    margin-top: 20px;
}

section#ficha {
    background-color: var(--Fundo-card);
    padding: 20px;
    border-radius: 8px;
    grid-column: 2;
}

section#ficha img.foto {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--Fundo-card);
    outline: 5px solid var(--Destaque);
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

section#ficha h1 {
    color: var(--Destaque);
    margin: 15px 0;
    font-size: 1.5em;
    text-align: left;
}

div#social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    gap: 1em;
    margin-top: 15px;
}

div#social a {
    color: var(--Destaque);
    transition: color 0.3s;
}

div#social a:hover {
    color: var(--Destaque-inverso);
}